assets/webservices/webstock.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
<wsp:UsingPolicy wsdl:required="false"/>
<wsp:Policy wsu:Id="BN_ZEC_PE02">
<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
</wsp:Policy>
<wsp:Policy wsu:Id="IF_ZSDPEF_ECOM01">
<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
<sapsession:enableSession>false</sapsession:enableSession>
</sapsession:Session>
<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
<sapcentraladmin:BusinessApplicationID>EC2DC8D867F94EF180C900505601055A</sapcentraladmin:BusinessApplicationID>
</sapcentraladmin:CentralAdministration>
</wsp:Policy>
<wsp:Policy wsu:Id="OP_ZsdpefEcom01">
<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
</wsp:Policy>
<wsdl:types>
<xsd:schema xmlns:tns="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
<xsd:simpleType name="char1">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char3">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="string">
<xsd:restriction base="xsd:string"/>
</xsd:simpleType>
</xsd:schema>
<xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
<xsd:element name="ZsdpefEcom01">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IdMat" type="n0:string" minOccurs="0"/>
<xsd:element name="IdSoc" type="n0:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZsdpefEcom01Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Descrip" type="n0:string"/>
<xsd:element name="Deta" type="n0:string"/>
<xsd:element name="FlagPack" type="n0:char1"/>
<xsd:element name="IdMat2" type="n0:string"/>
<xsd:element name="IdSoc2" type="n0:string"/>
<xsd:element name="Rpta" type="n0:string"/>
<xsd:element name="StockWeb" type="xsd:int"/>
<xsd:element name="Und" type="n0:char3"/>
<xsd:element name="UndPack" type="n0:char3"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="ZsdpefEcom01">
<wsdl:part name="parameters" element="tns:ZsdpefEcom01"/>
</wsdl:message>
<wsdl:message name="ZsdpefEcom01Response">
<wsdl:part name="parameter" element="tns:ZsdpefEcom01Response"/>
</wsdl:message>
<wsdl:portType name="ZSDPEF_ECOM01">
<wsp:Policy>
<wsp:PolicyReference URI="#IF_ZSDPEF_ECOM01"/>
</wsp:Policy>
<wsdl:operation name="ZsdpefEcom01">
<wsp:Policy>
<wsp:PolicyReference URI="#OP_ZsdpefEcom01"/>
</wsp:Policy>
<wsdl:input message="tns:ZsdpefEcom01"/>
<wsdl:output message="tns:ZsdpefEcom01Response"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ZEC_PE02" type="tns:ZSDPEF_ECOM01">
<wsp:Policy>
<wsp:PolicyReference URI="#BN_ZEC_PE02"/>
</wsp:Policy>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="ZsdpefEcom01">
<soap:operation soapAction="" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ZEC_PE02">
<wsdl:port name="ZEC_PE02" binding="tns:ZEC_PE02">
<soap:address location="http://192.168.50.132:8002/sap/bc/srt/rfc/sap/zsdpef_ecom01/400/zec_pe02/zec_pe02"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>